 <nav>
     <ul id="menu" class="nav nav-pills nav-stacked">
         <li class="active"><a href="comandosql_importante.php">Antes de Começar</a></li>
         <li><a href="comandosql_oqueesql.php">O que é SQL?</a></li>
         <li><a  href="comandosql_introducaobd.php">Introdução a Banco de Dados</a></li>
         <li><a><label>COMANDOS BÁSICOS</label></a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_createdb.php">Create Database</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_showdb.php">Show Databases</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_usedb.php">Uses Databases</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_createtable.php">Create Table</a> </li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_showtable.php">Show Tables</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_showcolumns.php">Show Columns</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_altertable.php">Alter Table</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_constraint.php">Restrições (Constraints)</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_insert.php">Insert</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_select.php">Select</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_orderby.php">Clausula ORDER BY </a></li>
         <li style="margin-left: 30px;"><a  style="width: 252px;" href="comandosql_update.php">Update</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_delete.php">Delete</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_droptable.php">Drop Table</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_truncatetable.php">Truncate Table</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_dropdatabase.php">Drop Database</a></li>
         <li><a><label>COMANDOS AVANÇADOS</label></a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_juntandotabelas.php">Juntando Tabelas (JOIN)</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_innerjoin.php">INNER JOIN</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_leftjoin.php">LEFT JOIN</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_rightjoin.php">RIGHT JOIN</a></li>
         <li style="margin-left: 30px;"><a style="width: 252px;"  href="comandosql_union.php">UNION</a></li>
         <li style="font-weight: bold;"><a href="comandosql_referencias.php">Referências</a></li>
     </ul>
 </nav>